retard

In [21]:
import polars as pl

In [22]:
df = pl.read_excel(
    "C:\\Users\\tajdi\\Downloads\\Documents\\EJVC JUL25.xlsx",
)

Could not determine dtype for column 2, falling back to string
Could not determine dtype for column 34, falling back to string
Could not determine dtype for column 35, falling back to string

In [23]:
df

shape: (7_104, 36)
┌────────────┬───────────┬───────────┬────────────┬───┬────────────┬────────────┬──────┬──────┐
│ FN_CARRIER ┆ FN_NUMBER ┆ FN_SUFFIX ┆ AC_SUBTYPE ┆ … ┆ ENTRY_DAY  ┆ ENTRY_TIME ┆ IREG ┆ CREG │
│ ---        ┆ ---       ┆ ---       ┆ ---        ┆   ┆ ---        ┆ ---        ┆ ---  ┆ ---  │
│ str        ┆ str       ┆ str       ┆ str        ┆   ┆ date       ┆ str        ┆ str  ┆ str  │
╞════════════╪═══════════╪═══════════╪════════════╪═══╪════════════╪════════════╪══════╪══════╡
│ AT         ┆ 0248      ┆ null      ┆ 332        ┆ … ┆ 2025-07-01 ┆ 08:40      ┆ null ┆ null │
│ AT         ┆ 0248      ┆ null      ┆ 332        ┆ … ┆ 2025-07-12 ┆ 09:05      ┆ null ┆ null │
│ AT         ┆ 0248      ┆ null      ┆ 332        ┆ … ┆ 2025-07-15 ┆ 09:05      ┆ null ┆ null │
│ AT         ┆ 0248      ┆ null      ┆ 332        ┆ … ┆ 2025-07-24 ┆ 13:15      ┆ null ┆ null │
│ AT         ┆ 0248      ┆ null      ┆ 332        ┆ … ┆ 2025-07-19 ┆ 11:20      ┆ null ┆ null │
│ …          ┆ …         ┆ …         ┆ …          ┆ … ┆ …          ┆ …          ┆ …    ┆ …    │
│ AT         ┆ 8696      ┆ null      ┆ 320        ┆ … ┆ 2025-07-19 ┆ 08:27      ┆ null ┆ null │
│ AT         ┆ 8696      ┆ null      ┆ 320        ┆ … ┆ 2025-07-23 ┆ 09:33      ┆ null ┆ null │
│ AT         ┆ 8696      ┆ null      ┆ 320        ┆ … ┆ 2025-07-24 ┆ 08:39      ┆ null ┆ null │
│ AT         ┆ 8766      ┆ null      ┆ 320        ┆ … ┆ 2025-07-21 ┆ 19:57      ┆ null ┆ null │
│ AT         ┆ 8767      ┆ null      ┆ 320        ┆ … ┆ 2025-07-22 ┆ 02:30      ┆ null ┆ null │
└────────────┴───────────┴───────────┴────────────┴───┴────────────┴────────────┴──────┴──────┘

In [72]:
df_pandas = df.to_pandas()
df_pandas["DELAY_CODE"] = df_pandas["DELAY_CODE"].astype(int)

In [73]:
df_pandas = df_pandas[df_pandas["AC_REGISTRATION"].str.startswith("CN")]

In [74]:
lenghts = len(df_pandas)
lenghts

6618

In [84]:
df_pandas_filtred = df_pandas[df_pandas["DELAY_TIME"] >= 15]

In [85]:
df_pandas_filtred["DELAY_CODE"].dtype

dtype('int64')

In [86]:
df_pandas_filtred.head()

,FN_CARRIER,FN_NUMBER,FN_SUFFIX,AC_SUBTYPE,AC_REGISTRATION,LEG_TYPE,AC_VERSION,DEP_AP_SCHED,ARR_AP_SCHED,DEP_AP_ACTUAL,...,DELAY_CODE,LIB_CODE_DR,FAMILLE_DR,DELAY_TIME,Tranch Retard départ,TRAFIC,ENTRY_DAY,ENTRY_TIME,IREG,CREG
137,AT,0403,None,AT7,CNCOE,J,JY70,CMN,RAK,CMN,...,52,AVA,AVARIE,69,1h<=R<2h,54,2025-07-05,00:10,None,None
139,AT,0403,None,AT7,CNCOE,J,JY70,CMN,RAK,CMN,...,95,COR,CORRESPONDANCE,57,16min<=R<1h,65,2025-07-12,19:45,None,None
156,AT,0413,None,AT7,CNCOE,J,JY70,CMN,RAK,CMN,...,52,AVA,AVARIE,18,16min<=R<1h,69,2025-07-21,09:27,None,None
162,AT,0422,None,AT7,CNCOE,J,JY70,AGA,CMN,AGA,...,93,ROT,ROTATION,15,-,70,2025-07-19,14:00,None,None
164,AT,0422,None,AT7,CNCOE,J,JY70,AGA,CMN,AGA,...,93,ROT,ROTATION,34,16min<=R<1h,69,2025-07-26,14:35,None,None

In [87]:
df_pandas_filtred_TEC = df_pandas_filtred[
    df_pandas_filtred["DELAY_CODE"].isin(
        [41, 42, 43, 44, 45, 46, 47, 51, 52, 55, 56, 57]
    )
]

In [88]:
df_pandas_filtred_TEC.head()

,FN_CARRIER,FN_NUMBER,FN_SUFFIX,AC_SUBTYPE,AC_REGISTRATION,LEG_TYPE,AC_VERSION,DEP_AP_SCHED,ARR_AP_SCHED,DEP_AP_ACTUAL,...,DELAY_CODE,LIB_CODE_DR,FAMILLE_DR,DELAY_TIME,Tranch Retard départ,TRAFIC,ENTRY_DAY,ENTRY_TIME,IREG,CREG
137,AT,0403,None,AT7,CNCOE,J,JY70,CMN,RAK,CMN,...,52,AVA,AVARIE,69,1h<=R<2h,54,2025-07-05,00:10,None,None
156,AT,0413,None,AT7,CNCOE,J,JY70,CMN,RAK,CMN,...,52,AVA,AVARIE,18,16min<=R<1h,69,2025-07-21,09:27,None,None
262,AT,1460,None,AT7,CNCOE,J,JY70,CMN,OZZ,CMN,...,52,AVA,AVARIE,15,-,39,2025-07-05,21:05,None,None
365,AT,1435,None,AT7,CNCOF,J,JY70,CMN,GLN,CMN,...,52,AVA,AVARIE,15,-,56,2025-07-17,17:49,None,None
381,AT,1467,None,AT7,CNCOF,J,JY70,CMN,OZG,CMN,...,46,TEC,TECHNIQIE,15,-,57,2025-07-04,09:00,None,None

In [89]:
lenght_df_pandas_filtred_TEC = len(df_pandas_filtred_TEC)
lenght_df_pandas_filtred_TEC

211

In [90]:
per = (lenghts - lenght_df_pandas_filtred_TEC) / lenghts * 100
per

96.81172559685706

In [20]:
import polars as pl

# Example DataFrame with 3 A's and 4 B's
df = pl.DataFrame(
    {
        "category": ["A", "A", "A", "B", "B", "B", "B"],
    }
)
res = df.with_columns(
    pl.when(pl.col("category") == "A")
    .then(pl.lit("flights with delay ≥ 15 min"))
    .otherwise(pl.lit("flights with delay < 15 min"))
    .alias("name")
)
res

shape: (7, 2)
┌──────────┬─────────────────────────────┐
│ category ┆ name                        │
│ ---      ┆ ---                         │
│ str      ┆ str                         │
╞══════════╪═════════════════════════════╡
│ A        ┆ flights with delay ≥ 15 min │
│ A        ┆ flights with delay ≥ 15 min │
│ A        ┆ flights with delay ≥ 15 min │
│ B        ┆ flights with delay < 15 min │
│ B        ┆ flights with delay < 15 min │
│ B        ┆ flights with delay < 15 min │
│ B        ┆ flights with delay < 15 min │
└──────────┴─────────────────────────────┘

In [111]:
import pandas as pd
import polars as pl

# Load and convert
df = pl.read_excel("C:\\Users\\tajdi\\Downloads\\Documents\\EJVC JUL25.xlsx")
df_pandas = df.to_pandas()

# Convert types
df_pandas["DELAY_CODE"] = pd.to_numeric(df_pandas["DELAY_CODE"], errors="coerce")
df_pandas["DELAY_TIME"] = pd.to_numeric(df_pandas["DELAY_TIME"], errors="coerce")
df_pandas["DEP_DAY_SCHED"] = pd.to_datetime(df_pandas["DEP_DAY_SCHED"], errors="coerce")

# Filter to CN aircraft and valid dates
df_pandas = df_pandas[
    df_pandas["AC_REGISTRATION"].astype(str).str.startswith("CN")
].dropna(subset=["DEP_DAY_SCHED"])


# Set index for windowing
df_pandas.set_index("DEP_DAY_SCHED", inplace=True)

# Apply 3-day time window
grouped = df_pandas.groupby(pd.Grouper(freq="10D"))

# Initialize results
grouped.agg(len)

Could not determine dtype for column 2, falling back to string
Could not determine dtype for column 34, falling back to string
Could not determine dtype for column 35, falling back to string

,FN_CARRIER,FN_NUMBER,FN_SUFFIX,AC_SUBTYPE,AC_REGISTRATION,LEG_TYPE,AC_VERSION,DEP_AP_SCHED,ARR_AP_SCHED,DEP_AP_ACTUAL,...,DELAY_CODE,LIB_CODE_DR,FAMILLE_DR,DELAY_TIME,Tranch Retard départ,TRAFIC,ENTRY_DAY,ENTRY_TIME,IREG,CREG
DEP_DAY_SCHED,,,,,,,,,,,,,,,,,,,,,
2025-07-01,2133,2133,2133,2133,2133,2133,2133,2133,2133,2133,...,2133,2133,2133,2133,2133,2133,2133,2133,2133,2133
2025-07-11,2135,2135,2135,2135,2135,2135,2135,2135,2135,2135,...,2135,2135,2135,2135,2135,2135,2135,2135,2135,2135
2025-07-21,2144,2144,2144,2144,2144,2144,2144,2144,2144,2144,...,2144,2144,2144,2144,2144,2144,2144,2144,2144,2144
2025-07-31,206,206,206,206,206,206,206,206,206,206,...,206,206,206,206,206,206,206,206,206,206

In [109]:
summary.sort_index()

   window_start  total  tec_count  non_tec_pct
0    2025-07-01    340         27    92.058824
1    2025-07-04    338         21    93.786982
2    2025-07-07    249         11    95.582329
3    2025-07-10    239         21    91.213389
4    2025-07-13    237         19    91.983122
5    2025-07-16    247         27    89.068826
6    2025-07-19    246         23    90.650407
7    2025-07-22    212         18    91.509434
8    2025-07-25    293         33    88.737201
9    2025-07-28    232         16    93.103448
10   2025-07-31     96          9    90.625000